<div id="all-content">
    <md-card>
        <div class="row" id="contact-content">
            <img src="../../../assets/Logo.png" class="contacto" alt="Logo Ambiente Creativo" />
            <h1><strong>Banner Formulario de Contacto</strong></h1>
            <p>Dejenos saber en que podemos ayudarlo</p>
        </div>
    </md-card>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <md-card>
                <form class="form-horizontal">
                    <div class="form-group contacto-form">
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                            <input class="form-control input-width" type="text" placeholder="Nombre">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-o fa-fw"></i></span>
                            <input class="form-control input-width" type="text" placeholder="Apellido">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="flaticon-phone-contact"></i></span>
                            <input class="form-control input-width" type="tel" placeholder="+0058-0XXX-000-0000">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="flaticon-technology-13"></i></span>
                            <input class="form-control input-width" type="tel" placeholder="+0058-04XX-000-0000">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input class="form-control input-width" type="email" placeholder="Ejemplo@Ejemplo.com">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                            <textarea class="form-control input-width" rows="8" placeholder="Comentarios Adicionales"></textarea>
                        </div>
                        <br/>
                        <label>Productos de los cuales desearia mas informacion</label>
                        <br/>
                        <div class="input-group">
                            <label class="checkbox-inline"><input type="checkbox" value=""> <i class="flaticon-paper-1"></i> Papel Tapiz</label>
                            <label class="checkbox-inline"><input type="checkbox" value=""> <i class="flaticon-floor"></i> Pisos</label>
                            <label class="checkbox-inline"><input type="checkbox" value=""> <i class="flaticon-livingroom-curtain-tool"></i> Persianas</label>
                        </div>
                        <div class="input-group">
                            <label class="checkbox-inline"><input type="checkbox" value=""> <i class="flaticon-board-1"></i> Laminas 3D</label>
                            <label class="checkbox-inline"><input type="checkbox" value=""><img src="../../../assets/logo_casamance2.jpg" class="checkbox-inline img-casamance" alt="Casamance"></label>
                            <label class="checkbox-inline"><input type="checkbox" value=""><img src="../../../assets/camengo.jpg" class="checkbox-inline img-camengo" alt="Camengo"></label>
                        </div>
                        <br/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </md-card>
        </div>
    </div>

</div>