<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand acca-navbrand" routerLink="/home">
            <img class="logo-acca" src="../../../assets/Logo.png" alt="Logo Ambiente Creativo" />
            <span class="acca-brand-text">Ambientes Creativos C.A.</span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flaticon-wallpaper-1"></span>&nbsp;Papel Tapiz<span class="fa fa-angle-double-down fa-fw"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/infanjuven"><span class="flaticon-sister-and-brother"></span>&nbsp;Infantiles y Juveniles</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/decorativos"><span class="flaticon-map"></span>&nbsp;Decorativos</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/design"><span class="flaticon-wallpaper"></span>&nbsp;Diseñador (Design)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flaticon-floor"></span>&nbsp;Pisos<span class="fa fa-angle-double-down fa-fw"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/pisos-laminados"><span class="flaticon-parquet-2"></span>&nbsp;Pisos Laminados</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/pisos-vinil-dryback"><span class="flaticon-paper-3"></span>&nbsp;Pisos de Vinil Dryback</a></li>
                    <li><a routerLink="/pisos-vinil-click"><span class="flaticon-tiles"></span>&nbsp;Pisos de Vinil Click</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/pisos-deck"><span class="flaticon-parquet"></span>&nbsp;Pisos Deck</a></li>
                </ul>
            </li>
            <li><a routerLink="/persianas"><span class="flaticon-livingroom-curtain-tool"></span>&nbsp;Persianas</a></li>
            <li><a routerLink="/laminas-3d"><span class="flaticon-board"></span>&nbsp;Laminas 3D</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flaticon-material-1"></span>&nbsp;Telas<span class="fa fa-angle-double-down fa-fw"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/telas-casamance">Casamance</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/telas-camengo">Camengo</a></li>
                </ul>
            </li>
            <li id="nav-contacto"><a routerLink="/contacto"><span class="flaticon-technology-15"></span>&nbsp;Contacto</a></li>
            <li id="nav-aboutus"><a routerLink="/aboutus"><span class="flaticon-multiple-users-silhouette"></span>&nbsp;Quienes Somos</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>