<div id="all-content">

    <div class="container-jumbo">
        <img src="../../../assets/MG_0021.jpg" class="jumbo-aboutus" alt="BackGround" />
        <div class="jumbo-text">
            <h1>Ambientes Creativos C.A. &trade;</h1>
            <p>Nuestro objetivo consiste en entregar ideas, consejos y/o soluciones con la finalidad de ser un metodo util para quienes desean rehacer o decorar un lugar. Es asi como con creatividad, imaginacion y conocimiento se puede convertir un espacio
                en lo que siempre haz soñado</p>
        </div>
    </div>

</div>